rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access for all authenticated users.
    // In a production environment, you would want to restrict this further.
    // For example, allow users to only write to their own folder.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
